<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuartzDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>524CC7DF1EA966C7008E6547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524CC7F51EA966C8008E6547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524CC8001EA966C8008E6547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
